<head>
    <title>S3 Box!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 100px;
            padding-left: 30px;
            padding-right: 30px;
        }

        .logo {
            max-height: 30px;
            vertical-align: bottom;
        }

        .upload {
            float: right;
        }
    </style>
</head>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">S3 Box</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="error"><a href="https://http4k.org"><img class="logo" src="https://www.http4k.org/img/logo_1100x200_white_on_black_trans.png"/></a></div>
    </div>
</nav>
<body>
<span class="upload">
    <form method="POST" action="/" enctype="multipart/form-data">
        <button>upload</button>
        <input type="file" name="files"/>
    </form>
</span>
<div>
    <h3>Files:</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#files}}
            <tr>
                <td><a href="/{{key}}">{{key}}</a></td>
                <td>
                    <form method="POST" action="/{{key}}/delete">
                        <button>delete</button>
                    </form>
                </td>
            </tr>
        {{/files}}
        </tbody>
    </table>
</div>
</body>
</html>